


     .right-add-projects{
        @include prefix(transition, all 0.5s , webkit ms o);
        padding-left: 140px;
        padding-top: 30px;
        padding-right: 30px;
        .add-Product-from{
            background-color: $white;
            padding: 180px 16px;
            h5{
                padding-bottom: 40px;
            }
            .Form-Add-Product{
                @include prefix(display, flex , webkit ms o);
                @include prefix(justify-content, space-between , webkit ms o);
                @include prefix(flex-wrap, wrap , webkit ms o);
                .form-group{
                    flex-basis: 50%;
                    @include prefix(flex-basis, 50% , webkit ms o);
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
        .Add-Products{
            background-color: #282828;
            color: #fff;
            outline: none;
            border-radius: 10px;
            border: none;
            padding: 0px 30px;
            margin-right: 15px;
        }
    }

