
    .Content-table{
        transition: all 0.5s;
        padding-left: 140px;
        padding-top: 30px;
        padding-right: 30px;
        width: 100%;
        height: 100%;
    }
    .mobile-header-dashbored{
        position: fixed;
        overflow: auto;
        .click-drop-burger-small{
            position: absolute;
            right: 40px;
            top: 8px;
            cursor: pointer;
        }
        background-color: $white;
        display: flex;
        left: 0px;
        flex-direction: column;
        transition: all 0.5s;
        z-index: 100;
        width: 100px;
        height: 100%;
        box-shadow: 0px -1px 3px #000;
        ul{
            display: flex;
            margin: 0;
            padding: 0;
        }
        .list-of-dashbored{
            list-style: none;
            display: flex;
            flex-direction: column;
            width: 100%;
            li{
               padding-top: 50px;
               text-align: center;
                 a{
                     text-decoration: none;
                     color: $another;
                     font-size: 14px;
                 }
 
            }
        }
    }
    aside{
        .click-drop-burger-large{
            position: absolute;
            right: 15px;
            cursor: pointer;
        }
        overflow: auto;
        width: 320px;
        height: 100%;
        position: fixed;
        background-color: $white;
        display: flex;
        flex-direction: column;
        left: -400px;
        transition: all 0.5s;
        z-index: 100;
        .image-useres{
            width: 100%;
            background-color: #fef3e5;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .image-user-content{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                border: 2px dashed orange;
                position: relative;
                margin-bottom: 20px;
                
                img{
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;
                    position: absolute;
                    border-radius: 50%;
                    
                }
            }
        }
        ul{
            display: flex;
            margin: 0;
            padding: 0;
        }
        .list-of-dashbored{
            list-style: none;
            display: flex;
            flex-direction: column;
            width: 100%;
            li{
                 padding: 1rem 1rem 1rem 3rem;
                 a{
                     text-decoration: none;
                     color: $another;
                     font-size: 18px;
                     svg{
                         margin-right: 30px;
                     }
                 }
 
            }
        }
     }

.Dashbored-content{
    flex-basis: 80%;
    padding: 60px  20px;
    .chart{
        padding: 25px 30px;
        .Title-dashbored{
            padding-bottom: 20px;
        }
        .analysis{
            margin-bottom: 30px;
            .row{
                .analysis-chiled{
                    background-color: $white;
                    padding: 30px;
                    display: flex;
                    .Revenue{
                        background-color: rgba(244,21,217,0.4);
                    }
                    .Orders{
                        background-color: rgba(0,255,137,0.4);
                    }
                    .Products{
                        background-color: rgba(251,255,0,0.4);
                    }
                    .Monthly{
                        background-color: rgba(3,169,244,0.4);    
                    }
                    .anaysis-icon{
                        margin-right: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 75px;
                        height: 75px;
                        border-radius: 50%;
                        svg{

                            font-size: 23px;
                        }

                    }
                    .anaysis-details{
                        .number{
                            font-size: 24px;
                            font-weight: bold;
                        }

                    }
                }
            }
        }
        .secound-row{
            width: 100%;
            .row-secound{
                width: 100%;
                display: flex;
                justify-content: space-between;
                .Add-member{
                    background-color: $white;
                    padding: 20px;
                    margin-top: 30px;
                    flex-basis: 48%;
                    h4{
                        margin-bottom: 40px;
                    }
                    .content-members{
                        position: relative;
                        &::before{
                            content: "";
                            border: 1px solid rgba(189, 189, 189,0.4);
                            margin-bottom: 0px;
                            position: absolute;
                            height: 100%;
                        }
                        .content{
                            padding: 10px 10px;
                            margin-left: 10px;
                            position: relative;
                            display: flex;
                            justify-content: space-between;
                            .icon-time{
                                position: absolute;
                                left: -15px;
                            }
                            .time{
                                flex-basis: 10%;
                                font-weight: bold;
                            }
                            .right{
                                flex-basis: 10%;
                                svg{
                                    color:  $primary;
                                }
                            }
                        }
                    }
                }
                .progress-content{
                    background-color: $white;
                    padding: 20px;
                    margin-top: 30px;
                    flex-basis: 48%;
                    .content{
                        padding: 10px 10px;
                    }
                }
            }

        }
        .thired-row{
            .analysthic-dashbored{
                width: 100%;
                display: flex;
                margin-top: 30px;
                justify-content: space-between;
                .Dashbored-one{
                    flex-basis: 48%;
                    background-color: $white;
                    padding: 20px;
                }
                .Dashbored-two{
                    flex-basis: 48%;
                    background-color: $white;
                    padding: 20px;
                }
            }
        }
        .thired-row{
            width: 100%;
            margin-top: 30px;
        }


    }
}

.question-delete-row{
    @include fixed;
    background-color: rgba(192,192,192,.6);
    .Delete-question{
        @include viewmoduletable;
        padding: 30px 15px;
        width: 400px;
        h4{
            padding-bottom: 30px;
        }
        .btn{
            width: 100px;
        }
    }
}
.Done-row{
    @include fixed;
    background-color: rgba(192,192,192,.6);
    .Done-question{
        @include viewmoduletable;
        padding: 30px 15px;
        width: 400px;
        h4{
            padding-bottom: 30px;
        }
        .btn{
            width: 100px;
        }
    }
}

// users

.View-row{
    @include fixed;
    background-color: rgba(192,192,192,.6);
    z-index: 1;
    .View-cancel{
        @include button;
    }
    .View-row-Details{
        @include viewmoduletable;
        padding: 16px;
        width: 700px;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        .Image-View{
            flex-basis: 50%;
            img{
                width: 100%;
            }
        }
        .Deatils-View{
            flex-basis: 50%;
            ul{
                list-style: none;
                li{
                    padding: 15px 0px;
                    font-size: 20px;
                    margin-right: 10px;
                    span{
                        font-size: 16px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}


.Edit-row{
    @include fixed;
    background-color: rgba(#cccbcb , 0.5);
    .Edit-row-details{
        .Edit-cancel{
            @include button;
        }
        @include formHome;
        top : 35%;
        .form-group{
            input{
                @include inputfornhome;
            }
        }
        h2{
            @include headerformhome;
        }
        .Edit-Prfile-user{
            @include submitHome;
        }
    }
}

.remove-Delete{

    display : none;
}

.Trash{
    color: #ff7675;
}
.View{
    color: #ff9f1a;
}
.Done{
    color: #00b894;
}
table{
    font-size: 14px;
    tr{
        th{
            width: auto !important;
        }
    }
}
@media (max-width : "767px") {
    table{
        display: inline-block;
        width: 100%;
    }
}