
    .Dashbored-content{
        padding-left: 140px;
        padding-top: 30px;
        @include breakepoint-new(mid){
            padding-left: 140px !important;
        }
        @include prefix(transition, all 0.5s , webkit ms o);
        .chart{
            .Title-dashbored{
                padding-bottom: 20px;
            }
            .analysis{
                margin-bottom: 30px;
                .row{
                    .analysis-chiled{
                        background-color: #e6e0ff;
                        padding: 10px;
                        margin-bottom: 10px;
                        display: flex;
                        @include prefix(display, flex , webkit ms o);
                        .Revenue{
                            background-color: rgba(244,21,217,0.4);
                        }
                        .Orders{
                            background-color: rgba(0,255,137,0.4);
                        }
                        .Products{
                            background-color: rgba(251,255,0,0.4);
                        }
                        .Monthly{
                            background-color: rgba(3,169,244,0.4);    
                        }
                        .anaysis-icon{
                            margin-right: 20px;
                            @include prefix(display, flex , webkit ms o);
                            @include prefix(justify-content, center , webkit ms o);
                            @include prefix(align-items, center , webkit ms o);
                            width: 75px;
                            height: 75px;
                            border-radius: 50%;
                            svg{
    
                                font-size: 23px;
                            }
    
                        }
                        .anaysis-details{
                            .number{
                                font-size: 24px;
                                font-weight: bold;
                            }
    
                        }
                    }
                }
            }
            .secound-row{
                width: 100%;
                .row-secound{
                    .Add-member{
                        .chiled-member{
                            padding: 20px;
                            margin-top: 30px;
                            background-color: #e6e0ff;
                            
                            h4{
                                margin-bottom: 40px;
                            }
                        .content-members{
                            position: relative;
                            &::before{
                                content: "";
                                border: 1px solid rgba(189, 189, 189,0.4);
                                margin-bottom: 0px;
                                position: absolute;
                                height: 100%;
                            }
                            .content{
                                padding: 10px 10px;
                                margin-left: 10px;
                                position: relative;
                                @include prefix(display, flex , webkit ms o);
                                @include prefix(justify-content, space-between , webkit ms o);
                                .icon-time{
                                    position: absolute;
                                    left: -15px;
                                }
                                .time{
                                    flex-basis: 10%;
                                    @include prefix(flex-basis, 10% , webkit ms o);
                                    font-weight: bold;
                                }
                                .right{
                                    @include prefix(flex-basis, 10% , webkit ms o);
                                    svg{
                                        color:  $primary;
                                    }
                                }
                            }
                        }
                        }

                    }
                    .progress-content{
                        
                        .chiled-prgress{
                            padding: 20px;
                            margin-top: 30px;
                            background-color: #e6e0ff;
                            .content{
                                padding: 10px 10px;
                            }
                        }
                    }
                }
    
            }
            .thired-row{
                    .Dashbored-one{
                        background-color: #e6e0ff;
                        padding: 20px;
                        margin-bottom: 10px;
                    }
                    .Dashbored-two{
                        background-color: #e6e0ff;
                        padding: 20px;
                        margin-bottom: 10px;
                    }
            }
            .thired-row{
                width: 100%;
                margin-top: 30px;
            }    
        }
    }




