
    .right-Edit{
        padding-left: 140px;
        padding-top: 30px;
        padding-right: 30px;
        @include prefix(transition, all 0.5s , webkit ms o);
        h3{
            color: #0000ee;
            margin-bottom: 30px;
        }
        .contact-personal{
            @include prefix(display, flex , webkit ms o);
            .left-con{
                @include prefix(flex-basis, 33.333333% , webkit ms o);
                padding: 0px 15px;
                > div{
                    background-color: $white;
                    padding: 25px 30px;
                    border-radius: 10px;
                    @include prefix(box-shadow, 1px 0px 20px rgba(0,0,0,0.3) , webkit ms o);
                    margin-bottom: 30px;
                        h5{
                            color: #0000ee;
                        }
                    .display-flex-data{
                        @include prefix(display, flex , webkit ms o);
                        div{
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background-color: #f3f7fd;
                            @include prefix(display, flex , webkit ms o);
                            @include prefix(justify-content, center , webkit ms o);
                            @include prefix(align-items, center , webkit ms o);
                            margin-right: 8px;
                            svg{
                                color: #777;                        
                             }
                        }
                        input{
                            border: none;
                            outline: none;
                        }
                    }
                }
            }
            .right-con{
                @include prefix(flex-basis, 66.666667% , webkit ms o);
                padding: 0px 15px;
                   > div{
                        background-color: $white;
                        padding: 25px 30px;
                        border-radius: 10px;
                        @include prefix(box-shadow, 1px 0px 20px rgba(0,0,0,0.3) , webkit ms o);
                        h5{
                            color: #0000ee;
                        }
                        button{
                            margin-left: 15px;
                            margin-top: 30px;
                        }
                        .right-con-form{
                            @include prefix(display, flex , webkit ms o);
                            @include prefix(flex-wrap, wrap , webkit ms o);
                            > div{
                                padding: 0px 15px;
                                @include prefix(flex-basis, 50% , webkit ms o);
                                
                            }
                        }
                }
            }
        }
    }
