# Start Redirect Section

RewriteEngine On


RewriteRule ^My-Profile?$ My-Profile.php

RewriteRule ^Clients-Manager?$ Vendor-Clients-Manager.php

RewriteRule ^Seller-Manager?$ Vendor-Seller-Manager.php

RewriteRule ^Employee-Manager?$ Vendor-Employee-Manager.php

RewriteRule ^Add-Category?$ Add-Category.php

RewriteRule ^Category-List?$ Category-List.php

RewriteRule ^Add-Product?$ Add-Product.php

RewriteRule ^Products-List?$ Products-List.php

RewriteRule ^Dashboard-Details?$ Dashboard-Details.php

RewriteRule ^Logout?$ Logout.php

# End Redirect Section

