.mobile-header-dashbored{
    position: fixed;
    overflow: auto;
    .click-drop-burger-small{
        position: absolute;
        right: 40px;
        top: 8px;
        cursor: pointer;
        @include breakepoint-new(mid){
            display: none;
        }
    }
    background-color: $white;
    @include prefix(display, flex , moz ms o);
    @include prefix(flex-direction, column , moz ms o);
    @include prefix(transition, all 0.5s , moz ms o);
    @include prefix(box-shadow, 0px -1px 3px #000 , moz ms o);
    left: 0px;
    z-index: 100;
    width: 100px;
    height: 100%;
    @include breakepoint-new(mid){
        left: 0px !important;
    }
    ul{
        @include prefix(display, flex , moz ms o);
        margin: 0;
        padding: 0;
    }
    .list-of-dashbored{
        list-style: none;
        @include prefix(display, flex , moz ms o);
        @include prefix(flex-direction, column , moz ms o);
        width: 100%;
        li{
           padding-top: 50px;
           text-align: center;
           transition: all 0.5s;
           &.active{
               a{
                    color: #007bff;
               }
           }
             a{
                 text-decoration: none;
                 color: $another;
                 font-size: 14px;
                 &:hover{
                    color: #007bff;
                 }
             }

        }
    }
}
aside{
    .click-drop-burger-large{
        position: absolute;
        right: 15px;
        cursor: pointer;
        @include breakepoint-new(mid){
            display: none;
        }
    }
    overflow: auto;
    width: 320px;
    height: 100%;
    position: fixed;
    background-color: $white;
    @include prefix(display, flex , moz ms o);
    @include prefix(flex-direction, column , moz ms o);
    left: -400px;
    @include prefix(transition , all 0.5s , moz ms o);
    z-index: 100;
    @include breakepoint-new(mid){
        left: -400px !important;
    }
    .image-useres{
        width: 100%;
        background-color: #fef3e5;
        height: 300px;
        @include prefix(display, flex , moz ms o);
        @include prefix(justify-content, center , moz ms o);
        @include prefix(align-items, center , moz ms o);
        @include prefix(flex-direction, column , moz ms o);
        .image-user-content{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 2px dashed orange;
            position: relative;
            margin-bottom: 20px;
            
            img{
                width: 100%;
                height: 100%;
                vertical-align: middle;
                position: absolute;
                border-radius: 50%;
                
            }
        }
    }
    ul{
        @include prefix(display, flex , moz ms o);
        margin: 0;
        padding: 0;
    }
    .list-of-dashbored{
        list-style: none;
        @include prefix(display, flex , moz ms o);
        @include prefix(flex-direction, column , moz ms o);
        width: 100%;
        li{
             padding: 1rem 1rem 1rem 3rem;
             &.active{
                a{
                     color: #007bff;
                }
            }
             a{
                 text-decoration: none;
                 color: $another;
                 font-size: 18px;
                 transition: all 0.5s;
                 &:hover{
                    color: #007bff;
                 }
                 svg{
                     margin-right: 30px;
                 }
             }

        }
    }
 }

