.choose-price{
    margin: 35px 0px;
    .Image-choose-price{
        width: 100%;
        .image-shop-show{
            width: 100%;
            height: 500px;
            cursor: pointer;
            overflow: hidden;

            &:hover{
                img{
                    @include prefix(transform, perspective(500px) translateZ(50px) , moz ms o);
                }
            }
            .content-image{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 2;
                transform: translate(-50%,-50%);
                text-align: center;
                h3{
                    color: $white;

                }
                a{
                    color: #282828;
                    background-color: #fff;
                    margin-top: 1.4rem;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.75rem 1.75rem;
                    transition: all 0.5s;
                    opacity: 1;
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
            img{
                position: relative;
                width: 100%;
                height:100%;
                @include prefix(object-fit, cover , moz ms o);
                @include prefix(transition, all 0.5s , moz ms o);
                
            }
        }
    }
    .Clearance-Sales{
        width: 100%;
        background-color: #c7ab62;
        padding-top: 60px;
        padding-right: 10%;
        padding-bottom: 60px;
        padding-left: 10%;
        height:500px;

        .content-image{
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            transform: translate(-50%,-50%);
            text-align: center;
            h2{
                color: $white;
                margin-bottom: 14px;
                font-size: 2rem;
            }
            p{
                color: #e7dbbd;
            }
            a{
                color: #282828;
                background-color: #fff;
                margin-top: 1.4rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 0.75rem 1.75rem;
                opacity: 1;
                transition: all 0.5s;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
    
}
.sec_row{
    width: 100%;
    border-top: 1px solid #ebebeb;
}
.sec-after-row{
    margin-top: 60px ;
    margin-bottom: 40px;
    .addrese-section{
        text-align: center;
        margin-bottom: 50px;
        p{
            color: #686868;
        }
    }
    .best-seler{
        .Image-choose-best{
            width: 100%;
            cursor: pointer;
            &:hover{
                .image-shop-show{
                    img{
                        @include prefix(transform, perspective(500px) translateZ(50px) , moz ms o);
                    }
                }
                    .same-class-icon{
                        visibility: visible !important;
                        display: flex  !important;
                    }

                  .icon-heart{
                      visibility: hidden;
                      display: none;
                  }
            }
            .image-shop-show{
                width: 100%;
                height: 500px;
                overflow: hidden;
                position: relative;
                img{
                    width: 100%;
                    height:100%;
                    @include prefix(object-fit, cover , moz ms o);
                    @include prefix(transition, all 0.5s , moz ms o);
                }
            }
            .icon-heart{
                position: absolute;
                top: 20px;
                right: 40px;
                transition: visibility 0.5s;
                svg{
                    color: #777;
                }
            }
            @for $i from 1 through 3 {
                .same-class-icon:nth-child(3n + #{$i}){
                    position: absolute;
                    top: $i * 8%;
                    right: 30px;
                    display: flex;
                    background-color: $white;
                    justify-content: center;
                    align-items: center;
                    padding: 4px;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    margin-bottom: 10px;
                    visibility: hidden;
                    transition: visibility 0.5s;
                    display: none;
                    svg{
                        color: #777;
                    }

                }
              }
            .content-product{
                padding-top: 10px;
                h3{
                    font-size: 18px;
                    margin: 0 0 5px;
                    cursor: pointer;
                    &:hover{
                        a{
                            color: #000;
                        }
                    }
                }
            }


        }
    }
}
.testemonial{
    background-color: #f1e8df;
    padding: 50px 0px;
    margin-top: 60px ;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
        margin-bottom: 40px;
    }
    .content-test{
        text-align: center;
        .all-content{
            width: 100%;
             margin: auto;
            flex-wrap: nowrap;
            .flex{
                .person-tes{
                    width: 100%;
                    display: none;
                    &.active{
                        display: block;
                    }
                    .per-image-tes{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                        p{
                            font-weight: bold;
                        }
                    }
                }
            }
        }

    }
    .curosel-circle{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
        .circle{
            display: inline-flex;
            width: 8px;
            height: 8px;
            background-color: #b9a16b;
            border-radius: 50%;
            margin-left: 10px;
            cursor: pointer;
        }

    }
}
.Trending-random{
    margin-top: 60px;
    margin-bottom: 35px;
    .content-trending{
        text-align: center;
    }
    .random{
        .image-shop-show{
            width: 100%;
            height: 500px;
            cursor: pointer;
            overflow: hidden;
            &:hover{
                img{
                    @include prefix(transform, perspective(500px) translateZ(50px) , moz ms o);
                }
            }
            img{
                width: 100%;
                height:100%;
                @include prefix(object-fit, cover , moz ms o);
                @include prefix(transition, all 0.5s , moz ms o);
            }
        }
    }
}
.visit{
    margin-top: 60px ;
    margin-bottom: 40px;
    .content-visit{
        text-align: center;
        margin-bottom: 30px;
    }
    .visit-image{
        width: 100%;
        img{
            width: 100%;
        }
    }
}