*, *::after, *::before {
  box-sizing: border-box; }

body {
  font-family: 'Jost', sans-serif;
  font-weight: 400; }

::-webkit-scrollbar {
  width: 8px;
  transition: all 0.4s; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 7px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  padding: 12px; }

.label {
  cursor: pointer;
  background-color: #007bff;
  color: #fff; }

.label-input {
  opacity: 0;
  position: absolute;
  z-index: -1; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  color: #282828; }

.background {
  background-color: #d5d4d3;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1; }

.Login-username {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 6;
  background-color: rgba(204, 203, 203, 0.5); }
  .Login-username .Login-user {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 40px 60px 0 #00000033;
    background: #fff;
    padding: 40px 70px;
    z-index: 5;
    top: 30%; }
    .Login-username .Login-user .login-cancel {
      position: absolute;
      top: 30px;
      font-size: 20px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f5f5f5;
      border-radius: 50%;
      cursor: pointer;
      right: 63px; }
    .Login-username .Login-user .lost-password a {
      color: #282828; }
    .Login-username .Login-user .regester {
      text-align: center; }
    .Login-username .Login-user .remember-me {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 24px; }
    .Login-username .Login-user .form-group input {
      border: 2px solid #ddd;
      line-height: 1.6;
      font-size: 19px;
      padding: .75rem;
      background-color: #fff;
      margin-top: 20px;
      margin-bottom: 24px; }
    .Login-username .Login-user h2 {
      margin-bottom: 20px;
      padding: 2vh 0;
      text-align: center;
      font-size: 2.1rem; }
    .Login-username .Login-user .submit-user {
      background-color: #282828;
      color: #fff;
      padding: 25px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 18px;
      margin-top: 18px; }
    .Login-username .Login-user .regester a {
      color: #282828; }

.sign-username {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 6;
  background-color: rgba(204, 203, 203, 0.5); }
  .sign-username .sign-user {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 40px 60px 0 #00000033;
    background: #fff;
    padding: 40px 70px;
    z-index: 5;
    top: 30%; }
    .sign-username .sign-user .sign-cancel {
      position: absolute;
      top: 30px;
      font-size: 20px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f5f5f5;
      border-radius: 50%;
      cursor: pointer;
      right: 63px; }
    .sign-username .sign-user .form-group input {
      border: 2px solid #ddd;
      line-height: 1.6;
      font-size: 19px;
      padding: .75rem;
      background-color: #fff;
      margin-top: 20px;
      margin-bottom: 24px; }
    .sign-username .sign-user h2 {
      margin-bottom: 20px;
      padding: 2vh 0;
      text-align: center;
      font-size: 2.1rem; }
    .sign-username .sign-user .Sign-user {
      background-color: #282828;
      color: #fff;
      padding: 25px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 18px;
      margin-top: 18px; }
  .sign-username .form-check-label {
    font-size: 20px; }
  .sign-username .p-regester {
    font-size: 20px; }

input:-internal-autofill-selected {
  background-color: #fff !important; }

@media (max-width: 991px) {
  .Login-user {
    width: 90% !important;
    padding: 40px 10px; } }
.Login-dissapered {
  display: none; }

.Sign-dissapered {
  display: none; }

.bob-search {
  width: 100%;
  height: auto;
  background-color: #fff;
  position: fixed;
  top: 0px;
  padding: 100px 150px 100px 150px;
  z-index: 4;
  transition: all 0.4s; }
  .bob-search .cancel_search-cancel {
    position: absolute;
    top: 30px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
    right: 63px; }
  .bob-search .search-input {
    display: flex;
    justify-content: center;
    align-items: center; }
    .bob-search .search-input input {
      width: 83.3333%;
      border: none;
      border-bottom: 2px solid #444;
      outline: none;
      font-size: 30px;
      margin-bottom: 20px;
      position: relative;
      padding-bottom: 35px; }
    .bob-search .search-input .select-search {
      position: absolute;
      right: 15%;
      border: none;
      padding: 20px;
      top: 36%;
      width: 10%;
      transform: translate(-15%, -36%);
      background-color: transparent;
      outline: none; }

.with-search {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(192, 192, 192, 0.6);
  z-index: 3; }

.bob-search-remove {
  top: -200%; }

.with-search-remove {
  display: none; }

.t-body td:first-child img {
  width: 50px; }

.t-body td:first-child {
  text-align: center; }

tfoot tr th:first-child img {
  width: 50px; }

tfoot tr th:first-child {
  text-align: center; }

.t-body td button {
  margin-left: 10px;
  border: none;
  outline: none;
  background-color: transparent; }

.t-body th:first-child img {
  width: 50px; }

.t-body th:first-child {
  text-align: center; }

.IMG-DATABASE img {
  width: 50px; }

.container-hady {
  width: 100%;
  display: flex;
  background-color: #f3f7fd; }
  .container-hady .right-Edit {
    flex-basis: 80%;
    padding: 60px  20px; }
    .container-hady .right-Edit h3 {
      color: #0000ee;
      margin-bottom: 30px; }
    .container-hady .right-Edit .contact-personal {
      display: flex; }
      .container-hady .right-Edit .contact-personal .left-con {
        flex-basis: 33.333333%;
        padding: 0px 15px; }
        .container-hady .right-Edit .contact-personal .left-con > div {
          background-color: #fff;
          padding: 25px 30px;
          border-radius: 10px;
          box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.3);
          margin-bottom: 30px; }
          .container-hady .right-Edit .contact-personal .left-con > div h5 {
            color: #0000ee; }
          .container-hady .right-Edit .contact-personal .left-con > div .display-flex-data {
            display: flex; }
            .container-hady .right-Edit .contact-personal .left-con > div .display-flex-data div {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background-color: #f3f7fd;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 8px; }
              .container-hady .right-Edit .contact-personal .left-con > div .display-flex-data div svg {
                color: #777; }
            .container-hady .right-Edit .contact-personal .left-con > div .display-flex-data input {
              border: none;
              outline: none; }
      .container-hady .right-Edit .contact-personal .right-con {
        flex-basis: 66.666667%;
        padding: 0px 15px; }
        .container-hady .right-Edit .contact-personal .right-con > div {
          background-color: #fff;
          padding: 25px 30px;
          border-radius: 10px;
          box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.3); }
          .container-hady .right-Edit .contact-personal .right-con > div h5 {
            color: #0000ee; }
          .container-hady .right-Edit .contact-personal .right-con > div button {
            margin-left: 15px;
            margin-top: 30px; }
          .container-hady .right-Edit .contact-personal .right-con > div .right-con-form {
            display: flex;
            flex-wrap: wrap; }
            .container-hady .right-Edit .contact-personal .right-con > div .right-con-form > div {
              padding: 0px 15px;
              flex-basis: 50%; }
  .container-hady .right-catagroy {
    flex-basis: 80%;
    background-color: #f5f5f5;
    padding: 20px; }
    .container-hady .right-catagroy .add-catgroy-from {
      background-color: #fff;
      padding: 80px 16px;
      margin-bottom: 30px;
      border-radius: 20px; }
      .container-hady .right-catagroy .add-catgroy-from h5 {
        padding-bottom: 40px; }
      .container-hady .right-catagroy .add-catgroy-from .Form-Add-catgroy {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        .container-hady .right-catagroy .add-catgroy-from .Form-Add-catgroy .form-group {
          flex-basis: 50%;
          padding-left: 15px;
          padding-right: 15px; }
    .container-hady .right-catagroy .Add-catgroys {
      background-color: #282828;
      color: #fff;
      outline: none;
      border-radius: 10px;
      border: none;
      padding: 15px 30px;
      margin-left: 15px; }
    .container-hady .right-catagroy .btn-danger {
      border-radius: 10px;
      border: none;
      padding: 15px 30px;
      margin-right: 15px; }

.none-Dashbored {
  display: none !important; }

.Add-Catagroy {
  margin-bottom: 20px; }

.btn-secondary {
  background-color: #007bff;
  border: none; }

.container-hady {
  width: 100%;
  display: flex;
  background-color: #f3f7fd; }
  .container-hady .Dashbored-content {
    flex-basis: 92%;
    padding: 60px  20px; }
    .container-hady .Dashbored-content .chart .Title-dashbored {
      padding-bottom: 20px; }
    .container-hady .Dashbored-content .chart .analysis {
      margin-bottom: 30px; }
      .container-hady .Dashbored-content .chart .analysis .row .analysis-chiled {
        background-color: #fff;
        padding: 30px;
        display: flex; }
        .container-hady .Dashbored-content .chart .analysis .row .analysis-chiled .Revenue {
          background-color: rgba(244, 21, 217, 0.4); }
        .container-hady .Dashbored-content .chart .analysis .row .analysis-chiled .Orders {
          background-color: rgba(0, 255, 137, 0.4); }
        .container-hady .Dashbored-content .chart .analysis .row .analysis-chiled .Products {
          background-color: rgba(251, 255, 0, 0.4); }
        .container-hady .Dashbored-content .chart .analysis .row .analysis-chiled .Monthly {
          background-color: rgba(3, 169, 244, 0.4); }
        .container-hady .Dashbored-content .chart .analysis .row .analysis-chiled .anaysis-icon {
          margin-right: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 75px;
          height: 75px;
          border-radius: 50%; }
          .container-hady .Dashbored-content .chart .analysis .row .analysis-chiled .anaysis-icon svg {
            font-size: 23px; }
        .container-hady .Dashbored-content .chart .analysis .row .analysis-chiled .anaysis-details .number {
          font-size: 24px;
          font-weight: bold; }
    .container-hady .Dashbored-content .chart .secound-row {
      width: 100%; }
      .container-hady .Dashbored-content .chart .secound-row .row-secound {
        width: 100%;
        display: flex;
        justify-content: space-between; }
        .container-hady .Dashbored-content .chart .secound-row .row-secound .Add-member {
          background-color: #fff;
          padding: 20px;
          margin-top: 30px;
          flex-basis: 48%; }
          .container-hady .Dashbored-content .chart .secound-row .row-secound .Add-member h4 {
            margin-bottom: 40px; }
          .container-hady .Dashbored-content .chart .secound-row .row-secound .Add-member .content-members {
            position: relative; }
            .container-hady .Dashbored-content .chart .secound-row .row-secound .Add-member .content-members::before {
              content: "";
              border: 1px solid rgba(189, 189, 189, 0.4);
              margin-bottom: 0px;
              position: absolute;
              height: 100%; }
            .container-hady .Dashbored-content .chart .secound-row .row-secound .Add-member .content-members .content {
              padding: 10px 10px;
              margin-left: 10px;
              position: relative;
              display: flex;
              justify-content: space-between; }
              .container-hady .Dashbored-content .chart .secound-row .row-secound .Add-member .content-members .content .icon-time {
                position: absolute;
                left: -15px; }
              .container-hady .Dashbored-content .chart .secound-row .row-secound .Add-member .content-members .content .time {
                flex-basis: 10%;
                font-weight: bold; }
              .container-hady .Dashbored-content .chart .secound-row .row-secound .Add-member .content-members .content .right {
                flex-basis: 10%; }
                .container-hady .Dashbored-content .chart .secound-row .row-secound .Add-member .content-members .content .right svg {
                  color: #007bff; }
        .container-hady .Dashbored-content .chart .secound-row .row-secound .progress-content {
          background-color: #fff;
          padding: 20px;
          margin-top: 30px;
          flex-basis: 48%; }
          .container-hady .Dashbored-content .chart .secound-row .row-secound .progress-content .content {
            padding: 10px 10px; }
    .container-hady .Dashbored-content .chart .thired-row .analysthic-dashbored {
      width: 100%;
      display: flex;
      margin-top: 30px;
      justify-content: space-between; }
      .container-hady .Dashbored-content .chart .thired-row .analysthic-dashbored .Dashbored-one {
        flex-basis: 48%;
        background-color: #fff;
        padding: 20px; }
      .container-hady .Dashbored-content .chart .thired-row .analysthic-dashbored .Dashbored-two {
        flex-basis: 48%;
        background-color: #fff;
        padding: 20px; }
    .container-hady .Dashbored-content .chart .thired-row {
      width: 100%;
      margin-top: 30px; }
  .container-hady .mobile-header-dashbored {
    position: relative;
    box-shadow: 0px -1px 3px #000;
    flex-basis: 5%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    transition: all 0.5s; }
    .container-hady .mobile-header-dashbored .click-drop-burger-small {
      position: absolute;
      right: 50px;
      top: 8px;
      cursor: pointer; }
    .container-hady .mobile-header-dashbored ul {
      display: flex;
      margin: 0;
      padding: 0; }
    .container-hady .mobile-header-dashbored .list-of-dashbored {
      list-style: none;
      display: flex;
      flex-direction: column;
      width: 100%; }
      .container-hady .mobile-header-dashbored .list-of-dashbored li {
        padding: 3rem 1rem 1rem 3rem; }
        .container-hady .mobile-header-dashbored .list-of-dashbored li a {
          text-decoration: none;
          color: #282828;
          font-size: 18px; }
          .container-hady .mobile-header-dashbored .list-of-dashbored li a svg {
            margin-right: 30px; }
  .container-hady aside {
    flex-basis: 10%;
    position: relative;
    z-index: 2;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    left: -400px;
    display: none;
    transition: all 0.5s; }
    .container-hady aside .click-drop-burger-large {
      position: absolute;
      right: 15px;
      cursor: pointer; }
    .container-hady aside .image-useres {
      width: 100%;
      background-color: #fef3e5;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .container-hady aside .image-useres .image-user-content {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px dashed orange;
        position: relative;
        margin-bottom: 20px; }
        .container-hady aside .image-useres .image-user-content img {
          width: 100%;
          height: 100%;
          vertical-align: middle;
          position: absolute;
          border-radius: 50%; }
    .container-hady aside ul {
      display: flex;
      margin: 0;
      padding: 0; }
    .container-hady aside .list-of-dashbored {
      list-style: none;
      display: flex;
      flex-direction: column;
      width: 100%; }
      .container-hady aside .list-of-dashbored li {
        padding: 1rem 1rem 1rem 3rem; }
        .container-hady aside .list-of-dashbored li a {
          text-decoration: none;
          color: #282828;
          font-size: 18px; }
          .container-hady aside .list-of-dashbored li a svg {
            margin-right: 30px; }

/*# sourceMappingURL=Dashbored.css.map */
