body {
  font-family: 'Jost', sans-serif;
  font-weight: 400; }

::-webkit-scrollbar {
  width: 8px;
  transition: all 0.4s; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 7px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  padding: 12px; }

.label {
  cursor: pointer;
  background-color: #007bff;
  color: #fff; }

.label-input {
  opacity: 0;
  position: absolute;
  z-index: -1; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  color: #282828; }

.background {
  background-color: #d5d4d3;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1; }

.Login-username {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 6;
  background-color: rgba(204, 203, 203, 0.5); }
  .Login-username .Login-user {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 40px 60px 0 #00000033;
    background: #fff;
    padding: 40px 70px;
    z-index: 5;
    top: 30%; }
    .Login-username .Login-user .login-cancel {
      position: absolute;
      top: 30px;
      font-size: 20px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f5f5f5;
      border-radius: 50%;
      cursor: pointer;
      right: 63px; }
    .Login-username .Login-user .lost-password a {
      color: #282828; }
    .Login-username .Login-user .regester {
      text-align: center; }
    .Login-username .Login-user .remember-me {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 24px; }
    .Login-username .Login-user .form-group input {
      border: 2px solid #ddd;
      line-height: 1.6;
      font-size: 19px;
      padding: .75rem;
      background-color: #fff;
      margin-top: 20px;
      margin-bottom: 24px; }
    .Login-username .Login-user h2 {
      margin-bottom: 20px;
      padding: 2vh 0;
      text-align: center;
      font-size: 2.1rem; }
    .Login-username .Login-user .submit-user {
      background-color: #282828;
      color: #fff;
      padding: 25px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 18px;
      margin-top: 18px; }
    .Login-username .Login-user .regester a {
      color: #282828; }

.sign-username {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 6;
  background-color: rgba(204, 203, 203, 0.5); }
  .sign-username .sign-user {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 40px 60px 0 #00000033;
    background: #fff;
    padding: 40px 70px;
    z-index: 5;
    top: 30%; }
    .sign-username .sign-user .sign-cancel {
      position: absolute;
      top: 30px;
      font-size: 20px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f5f5f5;
      border-radius: 50%;
      cursor: pointer;
      right: 63px; }
    .sign-username .sign-user .form-group input {
      border: 2px solid #ddd;
      line-height: 1.6;
      font-size: 19px;
      padding: .75rem;
      background-color: #fff;
      margin-top: 20px;
      margin-bottom: 24px; }
    .sign-username .sign-user h2 {
      margin-bottom: 20px;
      padding: 2vh 0;
      text-align: center;
      font-size: 2.1rem; }
    .sign-username .sign-user .Sign-user {
      background-color: #282828;
      color: #fff;
      padding: 25px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 18px;
      margin-top: 18px; }
  .sign-username .form-check-label {
    font-size: 20px; }
  .sign-username .p-regester {
    font-size: 20px; }

input:-internal-autofill-selected {
  background-color: #fff !important; }

@media (max-width: 991px) {
  .Login-user {
    width: 90% !important;
    padding: 40px 10px; } }
.Login-dissapered {
  display: none; }

.Sign-dissapered {
  display: none; }

.bob-search {
  width: 100%;
  height: auto;
  background-color: #fff;
  position: fixed;
  top: 0px;
  padding: 100px 150px 100px 150px;
  z-index: 4;
  transition: all 0.4s; }
  .bob-search .cancel_search-cancel {
    position: absolute;
    top: 30px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
    right: 63px; }
  .bob-search .search-input {
    display: flex;
    justify-content: center;
    align-items: center; }
    .bob-search .search-input input {
      width: 83.3333%;
      border: none;
      border-bottom: 2px solid #444;
      outline: none;
      font-size: 30px;
      margin-bottom: 20px;
      position: relative;
      padding-bottom: 35px; }
    .bob-search .search-input .select-search {
      position: absolute;
      right: 15%;
      border: none;
      padding: 20px;
      top: 36%;
      width: 10%;
      transform: translate(-15%, -36%);
      background-color: transparent;
      outline: none; }

.with-search {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(192, 192, 192, 0.6);
  z-index: 3; }

.bob-search-remove {
  top: -200%; }

.with-search-remove {
  display: none; }

.question-delete-row {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(192, 192, 192, 0.6); }
  .question-delete-row .Delete-question {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 15px;
    width: 400px; }
    .question-delete-row .Delete-question h4 {
      padding-bottom: 30px; }
    .question-delete-row .Delete-question .btn {
      width: 100px; }

.Done-row {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(192, 192, 192, 0.6); }
  .Done-row .Done-question {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 15px;
    width: 400px; }
    .Done-row .Done-question h4 {
      padding-bottom: 30px; }
    .Done-row .Done-question .btn {
      width: 100px; }

.View-row {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(192, 192, 192, 0.6);
  z-index: 1; }
  .View-row .View-cancel {
    position: absolute;
    top: 30px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
    right: 63px; }
  .View-row .View-row-Details {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: #fff;
    border-radius: 10px;
    padding: 16px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    z-index: 2; }
    .View-row .View-row-Details .Image-View {
      flex-basis: 50%; }
      .View-row .View-row-Details .Image-View img {
        width: 100%; }
    .View-row .View-row-Details .Deatils-View {
      flex-basis: 50%; }
      .View-row .View-row-Details .Deatils-View ul {
        list-style: none; }
        .View-row .View-row-Details .Deatils-View ul li {
          padding: 15px 0px;
          font-size: 20px;
          margin-right: 10px; }
          .View-row .View-row-Details .Deatils-View ul li span {
            font-size: 16px;
            font-weight: 300; }

.Edit-row {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(204, 203, 203, 0.5); }
  .Edit-row .Edit-row-details {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 40px 60px 0 #00000033;
    background: #fff;
    padding: 40px 70px;
    z-index: 5;
    top: 35%; }
    .Edit-row .Edit-row-details .Edit-cancel {
      position: absolute;
      top: 30px;
      font-size: 20px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f5f5f5;
      border-radius: 50%;
      cursor: pointer;
      right: 63px; }
    .Edit-row .Edit-row-details .form-group input {
      border: 2px solid #ddd;
      line-height: 1.6;
      font-size: 19px;
      padding: .75rem;
      background-color: #fff;
      margin-top: 20px;
      margin-bottom: 24px; }
    .Edit-row .Edit-row-details h2 {
      margin-bottom: 20px;
      padding: 2vh 0;
      text-align: center;
      font-size: 2.1rem; }
    .Edit-row .Edit-row-details .Edit-Prfile-user {
      background-color: #282828;
      color: #fff;
      padding: 25px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 18px;
      margin-top: 18px; }

.remove-Delete {
  display: none; }

.Trash {
  color: #ff7675; }

.View {
  color: #ff9f1a; }

.Done {
  color: #00b894; }

.navbar {
  padding: 0px 40px;
  background: #fff;
  height: 90px;
  position: fixed;
  background-color: transparent;
  width: 100%;
  z-index: 2; }
  .navbar .navbar-nav {
    height: 100%; }
    .navbar .navbar-nav li {
      display: inline-flex;
      padding-left: 24px;
      margin-left: -1px;
      align-items: center;
      height: 100%;
      position: static; }
      .navbar .navbar-nav li:first-child {
        padding-left: 0px; }

.navbar-scroll {
  background-color: #fff;
  box-shadow: -2px 2px 45px -20px rgba(0, 0, 0, 0.3); }

.navbar-expand-lg .navbar-collapse {
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
.navbar-expand-lg .navbar-nav .nav-link {
  padding: .3em 0;
  color: #444;
  position: relative; }
  .navbar-expand-lg .navbar-nav .nav-link .logo-brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.logo-brand img {
  width: 135px; }

.icones-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100%; }
  .icones-items a {
    display: inline-flex;
    align-items: center;
    margin-left: 24px;
    text-decoration: none; }

@media only screen and (max-width: 575px) {
  .navbar {
    padding-right: 20px;
    padding-left: 20px; } }
@media only screen and (max-width: 991px) {
  .menu-burger {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 6px 0;
    background: transparent !important;
    border: 0;
    outline: none;
    cursor: pointer; }

  .logo-brand img {
    width: 90px; }

  .items-Desktop {
    display: none; } }
@media only screen and (min-width: 992px) {
  .menu-burger {
    display: none; }

  .items-mobile {
    display: none; } }
.icones-items a {
  color: #444;
  font-size: 20px; }

.cancel {
  position: absolute;
  top: 30px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 50%;
  cursor: pointer;
  right: 63px; }

.se-cancel {
  top: 20px; }

.left-menu {
  overflow: scroll;
  padding: 0 35px;
  height: 100%;
  width: 90%;
  background-color: #fff;
  position: fixed;
  z-index: 2;
  top: 0px;
  left: -90%;
  transition: all 0.4s; }
  .left-menu .content-left-menu {
    padding-top: 85px;
    padding-bottom: 85px; }
    .left-menu .content-left-menu .search-for-products .search-input input {
      width: 100%;
      border: none;
      border-bottom: 2px solid #444;
      outline: none;
      font-size: 20px;
      margin-bottom: 20px; }
    .left-menu .content-left-menu li {
      padding: 5px 0px;
      list-style: none; }
      .left-menu .content-left-menu li a {
        font-size: 18px;
        color: #444; }
    .left-menu .content-left-menu .navbar-menu-burger {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding-left: 0px;
      padding-bottom: 10px;
      padding-top: 20px; }
      .left-menu .content-left-menu .navbar-menu-burger::after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 100%;
        border-bottom: 1px solid rgba(119, 119, 119, 0.7); }
    .left-menu .content-left-menu .anthoer-navbar-menu-burger {
      flex-direction: row;
      justify-content: space-between; }

.Login-menu-burger {
  cursor: pointer; }

.return-left-menu {
  left: 0%; }

.last-navbar-menu-burger li {
  flex-basis: 50%; }

.last-navbar-menu-burger li:nth-child(even) {
  text-align: right; }

.social-media {
  padding-left: 0px;
  padding-top: 20px; }
  .social-media li a {
    font-size: 25px !important;
    margin-left: 15px; }

.cart {
  position: fixed;
  top: 100%;
  right: 100%;
  bottom: 100%;
  left: 100%;
  background: rgba(192, 192, 192, 0.6);
  width: 100%;
  height: 100%;
  z-index: 3;
  transition: all 0.8s; }
  .cart .cart-list {
    width: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    transition: all 0.8s;
    will-change: transform; }
    .cart .cart-list header {
      background: rgba(0, 0, 0, 0.02);
      color: #282828;
      padding: 0 50px;
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .cart .cart-list header .container .panel-header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        height: 70px;
        padding: 0; }
    .cart .cart-list .all-content-cart {
      padding: 35px 50px 50px; }
      .cart .cart-list .all-content-cart .product-list-cart {
        display: flex;
        position: relative;
        padding: 10px 0px; }
        .cart .cart-list .all-content-cart .product-list-cart .img-product-cart {
          flex-basis: 20%; }
          .cart .cart-list .all-content-cart .product-list-cart .img-product-cart img {
            width: 60px;
            height: 60px; }
        .cart .cart-list .all-content-cart .product-list-cart .content-product {
          margin-left: 10px; }
          .cart .cart-list .all-content-cart .product-list-cart .content-product .min {
            margin-right: 10px; }
            .cart .cart-list .all-content-cart .product-list-cart .content-product .min svg {
              width: 20px;
              height: 20px;
              color: #777; }
          .cart .cart-list .all-content-cart .product-list-cart .content-product .plus {
            margin-left: 10px; }
            .cart .cart-list .all-content-cart .product-list-cart .content-product .plus svg {
              width: 20px;
              height: 20px;
              color: #777; }
        .cart .cart-list .all-content-cart .product-list-cart .cancel-cart {
          position: absolute;
          top: 7px;
          right: 0px; }
        .cart .cart-list .all-content-cart .product-list-cart .price-cart {
          position: absolute;
          top: 40px;
          right: 0px; }
      .cart .cart-list .all-content-cart .subtotal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px; }
        .cart .cart-list .all-content-cart .subtotal .sub {
          font-weight: bold; }
      .cart .cart-list .all-content-cart .finish-list-cart {
        margin-top: 20px; }
        .cart .cart-list .all-content-cart .finish-list-cart .wc-forward {
          background: transparent;
          border: 2px solid currentColor;
          color: #000000;
          width: 100%;
          padding: 8px 12px;
          display: inline-block;
          text-align: center; }
        .cart .cart-list .all-content-cart .finish-list-cart .checkout {
          background-color: #000000;
          margin-top: 10px;
          width: 100%;
          padding: 8px 12px;
          color: #fff;
          display: inline-block;
          text-align: center; }

.carousel-control-next-icon {
  background-image: url("../IMG/right.svg"); }

.carousel-control-prev-icon {
  background-image: url("../IMG/left.svg"); }

.carousel-control-prev, .carousel-control-next {
  opacity: 1; }

.carousel-control-prev {
  justify-content: flex-start; }

.carousel-control-next {
  justify-content: flex-end; }

.carousel-control-prev {
  left: 2%; }

.carousel-control-next {
  right: 2%; }

.container-hady {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #f3f7fd; }
  .container-hady .Content-table {
    flex-basis: 80%;
    background-color: #f5f5f5;
    padding: 20px; }
  .container-hady aside {
    flex-basis: 20%;
    background-color: #fff;
    display: flex;
    flex-direction: column; }
    .container-hady aside .image-useres {
      width: 100%;
      background-color: #fef3e5;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .container-hady aside .image-useres .image-user-content {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px dashed orange;
        position: relative;
        margin-bottom: 20px; }
        .container-hady aside .image-useres .image-user-content img {
          width: 100%;
          height: 100%;
          vertical-align: middle;
          position: absolute;
          border-radius: 50%; }
    .container-hady aside ul {
      display: flex;
      margin: 0;
      padding: 0; }
    .container-hady aside .list-of-dashbored {
      list-style: none;
      display: flex;
      flex-direction: column;
      width: 100%; }
      .container-hady aside .list-of-dashbored li {
        padding: 1rem 1rem 1rem 3rem; }
        .container-hady aside .list-of-dashbored li a {
          text-decoration: none;
          color: #282828;
          font-size: 18px; }
          .container-hady aside .list-of-dashbored li a svg {
            margin-right: 30px; }
  .container-hady .Dashbored-content {
    flex-basis: 80%;
    padding: 60px  20px; }
    .container-hady .Dashbored-content .chart {
      padding: 25px 30px; }
      .container-hady .Dashbored-content .chart .Title-dashbored {
        padding-bottom: 20px; }
      .container-hady .Dashbored-content .chart .analysis {
        margin-bottom: 30px; }
        .container-hady .Dashbored-content .chart .analysis .row .analysis-chiled {
          background-color: #fff;
          padding: 30px;
          display: flex; }
          .container-hady .Dashbored-content .chart .analysis .row .analysis-chiled .Revenue {
            background-color: rgba(244, 21, 217, 0.4); }
          .container-hady .Dashbored-content .chart .analysis .row .analysis-chiled .Orders {
            background-color: rgba(0, 255, 137, 0.4); }
          .container-hady .Dashbored-content .chart .analysis .row .analysis-chiled .Products {
            background-color: rgba(251, 255, 0, 0.4); }
          .container-hady .Dashbored-content .chart .analysis .row .analysis-chiled .Monthly {
            background-color: rgba(3, 169, 244, 0.4); }
          .container-hady .Dashbored-content .chart .analysis .row .analysis-chiled .anaysis-icon {
            margin-right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 75px;
            height: 75px;
            border-radius: 50%; }
            .container-hady .Dashbored-content .chart .analysis .row .analysis-chiled .anaysis-icon svg {
              font-size: 23px; }
          .container-hady .Dashbored-content .chart .analysis .row .analysis-chiled .anaysis-details .number {
            font-size: 24px;
            font-weight: bold; }
      .container-hady .Dashbored-content .chart .secound-row {
        width: 100%; }
        .container-hady .Dashbored-content .chart .secound-row .row-secound {
          width: 100%;
          display: flex;
          justify-content: space-between; }
          .container-hady .Dashbored-content .chart .secound-row .row-secound .Add-member {
            background-color: #fff;
            padding: 20px;
            margin-top: 30px;
            flex-basis: 48%; }
            .container-hady .Dashbored-content .chart .secound-row .row-secound .Add-member h4 {
              margin-bottom: 40px; }
            .container-hady .Dashbored-content .chart .secound-row .row-secound .Add-member .content-members {
              position: relative; }
              .container-hady .Dashbored-content .chart .secound-row .row-secound .Add-member .content-members::before {
                content: "";
                border: 1px solid rgba(189, 189, 189, 0.4);
                margin-bottom: 0px;
                position: absolute;
                height: 100%; }
              .container-hady .Dashbored-content .chart .secound-row .row-secound .Add-member .content-members .content {
                padding: 10px 10px;
                margin-left: 10px;
                position: relative;
                display: flex;
                justify-content: space-between; }
                .container-hady .Dashbored-content .chart .secound-row .row-secound .Add-member .content-members .content .icon-time {
                  position: absolute;
                  left: -15px; }
                .container-hady .Dashbored-content .chart .secound-row .row-secound .Add-member .content-members .content .time {
                  flex-basis: 10%;
                  font-weight: bold; }
                .container-hady .Dashbored-content .chart .secound-row .row-secound .Add-member .content-members .content .right {
                  flex-basis: 10%; }
                  .container-hady .Dashbored-content .chart .secound-row .row-secound .Add-member .content-members .content .right svg {
                    color: #007bff; }
          .container-hady .Dashbored-content .chart .secound-row .row-secound .progress-content {
            background-color: #fff;
            padding: 20px;
            margin-top: 30px;
            flex-basis: 48%; }
            .container-hady .Dashbored-content .chart .secound-row .row-secound .progress-content .content {
              padding: 10px 10px; }
      .container-hady .Dashbored-content .chart .thired-row .analysthic-dashbored {
        width: 100%;
        display: flex;
        margin-top: 30px;
        justify-content: space-between; }
        .container-hady .Dashbored-content .chart .thired-row .analysthic-dashbored .Dashbored-one {
          flex-basis: 48%;
          background-color: #fff;
          padding: 20px; }
        .container-hady .Dashbored-content .chart .thired-row .analysthic-dashbored .Dashbored-two {
          flex-basis: 48%;
          background-color: #fff;
          padding: 20px; }
      .container-hady .Dashbored-content .chart .thired-row {
        width: 100%;
        margin-top: 30px; }
  .container-hady .right-Edit {
    flex-basis: 80%;
    padding: 60px  20px; }
    .container-hady .right-Edit h3 {
      color: #0000ee;
      margin-bottom: 30px; }
    .container-hady .right-Edit .contact-personal {
      display: flex; }
      .container-hady .right-Edit .contact-personal .left-con {
        flex-basis: 33.333333%;
        padding: 0px 15px; }
        .container-hady .right-Edit .contact-personal .left-con > div {
          background-color: #fff;
          padding: 25px 30px;
          border-radius: 10px;
          box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.3);
          margin-bottom: 30px; }
          .container-hady .right-Edit .contact-personal .left-con > div h5 {
            color: #0000ee; }
          .container-hady .right-Edit .contact-personal .left-con > div .display-flex-data {
            display: flex; }
            .container-hady .right-Edit .contact-personal .left-con > div .display-flex-data div {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background-color: #f3f7fd;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 8px; }
              .container-hady .right-Edit .contact-personal .left-con > div .display-flex-data div svg {
                color: #777; }
            .container-hady .right-Edit .contact-personal .left-con > div .display-flex-data input {
              border: none;
              outline: none; }
      .container-hady .right-Edit .contact-personal .right-con {
        flex-basis: 66.666667%;
        padding: 0px 15px; }
        .container-hady .right-Edit .contact-personal .right-con > div {
          background-color: #fff;
          padding: 25px 30px;
          border-radius: 10px;
          box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.3); }
          .container-hady .right-Edit .contact-personal .right-con > div h5 {
            color: #0000ee; }
          .container-hady .right-Edit .contact-personal .right-con > div button {
            margin-left: 15px;
            margin-top: 30px; }
          .container-hady .right-Edit .contact-personal .right-con > div .right-con-form {
            display: flex;
            flex-wrap: wrap; }
            .container-hady .right-Edit .contact-personal .right-con > div .right-con-form > div {
              padding: 0px 15px;
              flex-basis: 50%; }
  .container-hady .right-add-projects {
    flex-basis: 80%;
    background-color: #f5f5f5;
    padding: 20px; }
    .container-hady .right-add-projects .add-Product-from {
      background-color: #fff;
      padding: 180px 16px; }
      .container-hady .right-add-projects .add-Product-from h5 {
        padding-bottom: 40px; }
      .container-hady .right-add-projects .add-Product-from .Form-Add-Product {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        .container-hady .right-add-projects .add-Product-from .Form-Add-Product .form-group {
          flex-basis: 50%;
          padding-left: 15px;
          padding-right: 15px; }
    .container-hady .right-add-projects .Add-Products {
      background-color: #282828;
      color: #fff;
      outline: none;
      border-radius: 10px;
      border: none;
      padding: 0px 30px;
      margin-right: 15px; }
  .container-hady .right-catagroy {
    flex-basis: 80%;
    background-color: #f5f5f5;
    padding: 20px; }
    .container-hady .right-catagroy .add-catgroy-from {
      background-color: #fff;
      padding: 80px 16px;
      margin-bottom: 30px;
      border-radius: 20px; }
      .container-hady .right-catagroy .add-catgroy-from h5 {
        padding-bottom: 40px; }
      .container-hady .right-catagroy .add-catgroy-from .Form-Add-catgroy {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        .container-hady .right-catagroy .add-catgroy-from .Form-Add-catgroy .form-group {
          flex-basis: 50%;
          padding-left: 15px;
          padding-right: 15px; }
    .container-hady .right-catagroy .Add-catgroys {
      background-color: #282828;
      color: #fff;
      outline: none;
      border-radius: 10px;
      border: none;
      padding: 15px 30px;
      margin-left: 15px; }
    .container-hady .right-catagroy .btn-danger {
      border-radius: 10px;
      border: none;
      padding: 15px 30px;
      margin-right: 15px; }

.none-Dashbored {
  display: none !important; }

.Add-Catagroy {
  margin-bottom: 20px; }

.t-body td:first-child img {
  width: 50px; }

.t-body td:first-child {
  text-align: center; }

tfoot tr th:first-child img {
  width: 50px; }

tfoot tr th:first-child {
  text-align: center; }

.t-body td button {
  margin-left: 10px;
  border: none;
  outline: none;
  background-color: transparent; }

.t-body th:first-child img {
  width: 50px; }

.t-body th:first-child {
  text-align: center; }

.IMG-DATABASE img {
  width: 50px; }

.header-pages-Product {
  position: relative;
  top: 0;
  left: 0;
  background: url(".././IMG/21.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px; }

.Secound-Section {
  padding-top: 10px;
  padding-right: 2.5%;
  padding-left: 2.5%; }
  .Secound-Section .icones-filter {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px; }
    .Secound-Section .icones-filter .icones-include-filter {
      margin-right: 10px;
      border-right: 1px solid #eee;
      padding-right: 10px;
      cursor: pointer; }
      .Secound-Section .icones-filter .icones-include-filter .filter {
        display: inline-flex;
        align-items: center;
        background: transparent;
        border: 0;
        outline: none;
        padding: 8px 0; }
        .Secound-Section .icones-filter .icones-include-filter .filter .filter-trigger {
          margin: 0 8px 0 0; }
          .Secound-Section .icones-filter .icones-include-filter .filter .filter-trigger svg {
            width: 18px;
            height: 18px; }
      .Secound-Section .icones-filter .icones-include-filter .woocommerce-ordering .orderby {
        border: 0;
        color: inherit;
        background-color: transparent;
        background-image: none;
        width: 100%;
        max-width: 160px;
        height: auto;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 26px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        outline: none;
        cursor: pointer; }
      .Secound-Section .icones-filter .icones-include-filter svg {
        color: #282828; }
    .Secound-Section .icones-filter .shop-views::before {
      display: block;
      content: '';
      border-left: 1px solid #eee;
      margin: 0 10px 0 5px; }
    .Secound-Section .icones-filter .shop-views button {
      padding: 8px 2px;
      margin-left: 10px;
      border: 0;
      background: transparent;
      color: #282828;
      outline: none;
      opacity: .4; }
      .Secound-Section .icones-filter .shop-views button svg {
        width: 18px;
        height: 18px; }
    .Secound-Section .icones-filter .shop-views button.active {
      opacity: 1; }
  .Secound-Section .row .Products img {
    width: 100%;
    height: 320px; }
  .Secound-Section .button-load {
    text-align: center;
    display: block;
    line-height: 62px;
    min-height: 42px;
    width: 100%;
    margin: 30px 0 50px;
    position: relative; }
    .Secound-Section .button-load a {
      color: #282828;
      min-width: 180px;
      font-weight: 400;
      text-transform: none;
      padding: .75rem 1.75rem;
      display: inline-block;
      line-height: 1.6;
      text-align: center;
      transition: all .3s ease-in-out;
      border: 2px solid currentColor;
      text-decoration: none; }

.click-filter {
  position: fixed;
  top: 100%;
  right: 100%;
  bottom: 100%;
  left: 100%;
  background: rgba(192, 192, 192, 0.6);
  width: 100%;
  height: 100%;
  z-index: 3;
  transition: all 0.8s; }
  .click-filter .panel-open-filters {
    width: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    height: 100%;
    transition: opacity 0.25s ease,transform 0.25s ease;
    will-change: transform; }
    .click-filter .panel-open-filters header {
      background: rgba(0, 0, 0, 0.02);
      color: #282828;
      padding: 0 50px;
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .click-filter .panel-open-filters header .side-panel-title {
        margin: 0;
        display: inline-flex; }
      .click-filter .panel-open-filters header .et-close {
        background-color: #282828;
        padding: 6px 15px;
        background: #282828;
        border: 0;
        color: #fff;
        border-radius: 0;
        width: auto;
        height: auto;
        transform: none; }
    .click-filter .panel-open-filters .side-panel-content {
      position: relative;
      padding: 35px 50px 50px 50px;
      flex: 1; }
      .click-filter .panel-open-filters .side-panel-content .side-panel-content-list .catagroy-filter li {
        margin-bottom: 5px;
        padding-left: 10px; }
      .click-filter .panel-open-filters .side-panel-content .side-panel-content-list .catagroy-color li {
        display: inline-flex;
        margin: 0 10px 5px 0 !important;
        padding: 0; }
        .click-filter .panel-open-filters .side-panel-content .side-panel-content-list .catagroy-color li .et-swatch-circle {
          height: 18px;
          width: 18px;
          margin-right: 0;
          padding: 1px;
          border: 1px solid transparent;
          border-radius: 50%; }
      .click-filter .panel-open-filters .side-panel-content .widget {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08); }
        .click-filter .panel-open-filters .side-panel-content .widget .filter-size .input-size {
          display: flex;
          align-items: center;
          margin: 16px 0;
          text-align: center;
          justify-content: space-between;
          width: fit-content;
          margin-top: 0; }
          .click-filter .panel-open-filters .side-panel-content .widget .filter-size .input-size input {
            max-width: 99px;
            width: 100%;
            border: 1px solid #0e001a;
            padding-top: 22px;
            padding-bottom: 8px;
            color: #0e001a;
            outline: none;
            padding: 9px 12px;
            background: #fff;
            font-size: 1rem;
            position: relative;
            border-radius: 8px; }
          .click-filter .panel-open-filters .side-panel-content .widget .filter-size .input-size span {
            min-width: 16px;
            color: #bec1c6;
            max-width: 16px; }
          .click-filter .panel-open-filters .side-panel-content .widget .filter-size .input-size button {
            margin-left: 10px;
            padding: 9px 8px;
            background-color: #000;
            border-radius: 8px;
            outline: none;
            border: none;
            color: #fff; }
        .click-filter .panel-open-filters .side-panel-content .widget .widgettitle {
          cursor: pointer;
          margin-bottom: 10px;
          padding: 10px 4px;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: .1rem;
          position: relative; }
          .click-filter .panel-open-filters .side-panel-content .widget .widgettitle span {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            width: 30px;
            height: 30px;
            text-align: center;
            font-size: initial;
            right: 0;
            top: 50%;
            margin-top: -15px; }
      .click-filter .panel-open-filters .side-panel-content .sizes {
        margin-left: 0;
        padding: 0; }
        .click-filter .panel-open-filters .side-panel-content .sizes li {
          display: inline-flex;
          margin: 0 10px 5px 0;
          padding: 0; }
          .click-filter .panel-open-filters .side-panel-content .sizes li a {
            border: 1px solid #ddd;
            padding: 0 10px 0 10px;
            display: inline-flex;
            align-items: center;
            line-height: 30px;
            height: 30px;
            color: #000;
            position: relative; }

.slider-product {
  position: relative; }
  .slider-product img {
    width: 100%;
    height: 600px; }
  .slider-product .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .slider-product .right-arrow {
    position: absolute;
    right: 5%;
    top: 90%;
    cursor: pointer;
    padding: 20px;
    transition: all 0.8; }
    .slider-product .right-arrow:hover {
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center; }
    .slider-product .right-arrow svg {
      font-size: 25px; }
  .slider-product .left-arrow {
    position: absolute;
    right: 10%;
    top: 90%;
    cursor: pointer;
    padding: 20px;
    transition: all 0.8; }
    .slider-product .left-arrow:hover {
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center; }
    .slider-product .left-arrow svg {
      font-size: 25px; }
  .slider-product .slider-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 20%;
    right: 4.5%; }
    .slider-product .slider-img .img-slider {
      margin-bottom: 10px; }
      .slider-product .slider-img .img-slider img {
        width: 175px;
        height: 125px;
        cursor: pointer; }

.content-description {
  margin-top: 45px;
  margin-bottom: 60px;
  width: 100%; }
  .content-description h2 {
    position: relative;
    display: inline-block;
    font-size: 24px;
    margin-bottom: 40px; }
    .content-description h2::before {
      width: 37px;
      position: absolute;
      top: 50%;
      left: 100%;
      margin-left: 20px;
      display: block;
      content: " ";
      height: 1px;
      background: currentColor;
      background: rgba(0, 0, 0, 0.2); }
  .content-description .Desc {
    padding-bottom: 20px; }
  .content-description .information {
    padding-bottom: 20px; }
    .content-description .information table {
      border: 0;
      width: 820px;
      border-spacing: 0;
      text-align: left;
      max-width: 820px;
      margin: 0 auto;
      padding-top: 10px; }
      .content-description .information table tbody tr {
        padding: 10px; }
        .content-description .information table tbody tr td p {
          margin-top: 20px;
          margin-bottom: 20px; }
  .content-description .comment .user-image {
    display: flex;
    padding: 20px 0px;
    border-bottom: 1px solid #e2e2e2; }
    .content-description .comment .user-image img {
      width: 50px;
      height: 50px;
      border-radius: 50%; }
    .content-description .comment .user-image .content-user {
      margin-left: 10px; }
      .content-description .comment .user-image .content-user p {
        margin: 0; }
      .content-description .comment .user-image .content-user .time {
        font-size: 14px;
        color: #999999; }
      .content-description .comment .user-image .content-user .description-comment {
        margin-top: 30px; }
  .content-description .comment-start-user {
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .content-description .comment-start-user:last-of-type {
      border-bottom: 1px solid #e2e2e2; }
    .content-description .comment-start-user .start-comment {
      display: inline-block;
      line-height: inherit;
      min-width: 240px;
      cursor: pointer;
      text-transform: none;
      font-weight: inherit;
      font-size: inherit;
      border: 2px solid currentColor;
      background: none;
      padding: .75rem 1.75rem;
      text-align: center; }
    .content-description .comment-start-user .comment-here {
      width: 100%; }
      .content-description .comment-start-user .comment-here p textarea {
        width: 100%;
        padding: 7px 14px;
        font-size: 1em;
        line-height: 1.6;
        outline: 0;
        color: #282828;
        background-color: #fff;
        background-clip: padding-box;
        border: 2px solid #ddd;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        height: 150px;
        resize: none; }
      .content-description .comment-start-user .comment-here .name-email {
        width: 100%; }
        .content-description .comment-start-user .comment-here .name-email input {
          width: 100%;
          margin-bottom: 20px;
          font-family: inherit;
          font-size: 1em;
          line-height: 1.6;
          outline: 0;
          padding: .75rem;
          height: calc(2.15em + .975rem + 4px);
          color: #282828;
          background-color: #fff;
          background-clip: padding-box;
          border: 2px solid #ddd; }
      .content-description .comment-start-user .comment-here .sub-comment {
        line-height: 1.6;
        font-size: inherit;
        color: #fff;
        padding: .75rem 1.75rem;
        border: 2px solid transparent;
        text-align: center;
        opacity: 1;
        background: #282828; }
  .content-description .refrend-cattgroy {
    padding: 120px 0px; }
    .content-description .refrend-cattgroy .ref-all-content {
      display: flex;
      flex-direction: column; }
      .content-description .refrend-cattgroy .ref-all-content .img-ref-img {
        width: 100%; }
        .content-description .refrend-cattgroy .ref-all-content .img-ref-img img {
          width: 100%;
          height: 275px; }
      .content-description .refrend-cattgroy .ref-all-content .content-ref p {
        margin-bottom: 0px;
        margin-top: 10px; }

.choose-price {
  margin: 35px 0px; }
  .choose-price .Image-choose-price {
    width: 100%; }
    .choose-price .Image-choose-price img {
      width: 100%;
      height: 500px; }
  .choose-price .Clearance-Sales {
    width: 100%;
    background-color: #c7ab62;
    padding-top: 60px;
    padding-right: 10%;
    padding-bottom: 60px;
    padding-left: 10%;
    height: 500px; }

.sec_row {
  width: 100%;
  border-top: 1px solid #ebebeb; }

.sec-after-row {
  margin-top: 60px;
  margin-bottom: 40px; }
  .sec-after-row .addrese-section {
    text-align: center;
    margin-bottom: 50px; }
    .sec-after-row .addrese-section p {
      color: #686868; }
  .sec-after-row .best-seler .Image-choose-best {
    width: 100%; }
    .sec-after-row .best-seler .Image-choose-best img {
      width: 100%;
      height: 450px; }

.testemonial {
  background-color: #f1e8df;
  padding: 50px 0px;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .testemonial h2 {
    margin-bottom: 40px; }
  .testemonial .content-test {
    text-align: center; }
    .testemonial .content-test .all-content {
      width: 100%;
      margin: auto;
      flex-wrap: nowrap; }
      .testemonial .content-test .all-content .flex .person-tes {
        width: 100%;
        display: none; }
        .testemonial .content-test .all-content .flex .person-tes.active {
          display: block; }
        .testemonial .content-test .all-content .flex .person-tes .per-image-tes {
          display: flex;
          align-items: center;
          justify-content: center; }
          .testemonial .content-test .all-content .flex .person-tes .per-image-tes img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-right: 10px; }
          .testemonial .content-test .all-content .flex .person-tes .per-image-tes p {
            font-weight: bold; }
  .testemonial .curosel-circle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px; }
    .testemonial .curosel-circle .circle {
      display: inline-flex;
      width: 8px;
      height: 8px;
      background-color: #b9a16b;
      border-radius: 50%;
      margin-left: 10px;
      cursor: pointer; }

.Trending-random {
  margin-top: 60px;
  margin-bottom: 35px; }
  .Trending-random .content-trending {
    text-align: center; }
  .Trending-random .random img {
    width: 100%;
    height: 325px; }

.visit {
  margin-top: 60px;
  margin-bottom: 40px; }
  .visit .content-visit {
    text-align: center;
    margin-bottom: 30px; }
  .visit .visit-image {
    width: 100%; }
    .visit .visit-image img {
      width: 100%; }

.header-pages-About {
  position: relative;
  top: 0;
  left: 0;
  background: url(".././IMG/about.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header-pages-About .about-content {
    text-align: center;
    padding-top: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-left: 10%; }
    .header-pages-About .about-content h1 {
      font-size: 40px; }
    .header-pages-About .about-content p {
      font-size: 20px;
      position: relative; }
      .header-pages-About .about-content p::before {
        position: absolute;
        left: 0px;
        content: "";
        border-left: 4px solid #000;
        width: 10px;
        height: 100%; }

.about-video {
  padding-top: 60px;
  padding-bottom: 60px; }
  .about-video .video {
    width: 100%;
    position: relative; }
    .about-video .video img {
      width: 100%; }
    .about-video .video svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60px;
      height: 60px;
      color: #fff;
      cursor: pointer;
      stroke: #fff;
      fill: #fff; }
  .about-video .content-video {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .about-video .content-video h5 {
      color: #b9a16b;
      text-transform: uppercase;
      letter-spacing: .2rem;
      margin-bottom: 15px;
      font-size: 14.4px;
      margin-bottom: 28px; }
    .about-video .content-video h2 {
      margin-bottom: 28px; }
    .about-video .content-video .number-off-viewers {
      display: flex; }
      .about-video .content-video .number-off-viewers .number .count span {
        font-size: 34px; }
      .about-video .content-video .number-off-viewers .content-number {
        display: flex;
        justify-content: center;
        align-items: center; }

.our-story {
  padding-top: 80px;
  padding-bottom: 45px;
  background-color: #f2f2f2; }
  .our-story h5 {
    color: #b9a16b;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 15px;
    font-size: 14.4px;
    margin-bottom: 28px; }
  .our-story h2 {
    margin-bottom: 28px; }

.core-value {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 45px;
  background-color: #f2f2f2; }
  .core-value h5 {
    color: #b9a16b;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 15px;
    font-size: 14.4px;
    margin-bottom: 28px; }
  .core-value h2 {
    margin-bottom: 28px; }
  .core-value .content-all {
    margin-top: 60px; }
    .core-value .content-all .row span {
      font-size: 30px; }

.fonderes {
  padding-top: 60px;
  padding-bottom: 60px; }
  .fonderes .content-founder h5 {
    color: #b9a16b;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 15px;
    font-size: 14.4px;
    margin-bottom: 28px; }
  .fonderes .content-founder h2 {
    margin-bottom: 28px; }
  .fonderes .content-person img {
    width: 100%; }

.contact-us {
  display: flex;
  width: 100%;
  height: 100vh; }
  .contact-us .map {
    flex-basis: 50%;
    height: 100%; }
  .contact-us .form-contact-us {
    flex-basis: 50%;
    padding-top: 120px;
    padding-right: 3%;
    padding-bottom: 35px;
    padding-left: 6%; }
    .contact-us .form-contact-us .Adress {
      display: flex;
      justify-content: space-evenly; }
      .contact-us .form-contact-us .Adress .visit-us {
        flex-basis: 50%;
        padding: 0px 15px; }
      .contact-us .form-contact-us .Adress .Touch {
        flex-basis: 50%;
        padding: 0px 15px; }
  .contact-us .form div {
    margin-top: 20px;
    margin-bottom: 24px; }
    .contact-us .form div input {
      width: 100%;
      font-family: inherit;
      font-size: 1em;
      line-height: 1.6;
      outline: 0;
      padding: 0.75rem; }
    .contact-us .form div textarea {
      width: 100%;
      font-family: inherit;
      font-size: 1em;
      line-height: 1.6;
      outline: 0;
      padding: 0.75rem;
      resize: none;
      height: 200px; }
  .contact-us .form .sub-mess {
    cursor: pointer;
    opacity: .72;
    background: #000;
    padding: 0.75rem 1.75rem;
    border: 2px solid transparent;
    color: #fff; }

/*# sourceMappingURL=H_A.css.map */
