.carousel-control-next-icon{
    background-image: url('../IMG/right.svg');
}
.carousel-control-prev-icon{
    background-image: url('../IMG/left.svg');
}
.carousel-control-prev, .carousel-control-next{
    opacity: 1;
}
.carousel-control-prev{
    justify-content: flex-start;
}
.carousel-control-next{
    justify-content: flex-end;
}
.carousel-control-prev{
    left: 2%;
}
.carousel-control-next{
    right: 2%;
}
@include breakepoint-down(small){
    .carousel-item img{
        height: 100vh;
        object-fit: cover;
    } 
}
.carousel{
    .carousel-item{
        img{
            position: relative;
        }
        .content-slider{
            position: absolute;
            top: 40%;
            left: 15%;
            .box-content{
                background-color: #000;
                padding: 5px;
                color: $white;
                font-weight: bolder;
                width: 160px;
            }
            .content{
                h2{
                    margin-top: 20px;
                    font-size: 60px;

                }
                a{
                    font-size: 18px;
                    font-weight: bolder;
                }
            }

        }
        .content-slider-even{
            position: absolute;
            top: 40%;
            right: 10%;

            @include breakepoint-down(small){
                position: absolute;
                top: 36%;
                left: 24%;
            }

            .box-content{
                background-color: #000;
                padding: 5px;
                color: $white;
                font-weight: bolder;
                width: 80px;
            }
            .content{
                h2{
                    margin-top: 20px;
                    font-size: 60px;

                }
                a{
                    font-size: 18px;
                    font-weight: bolder;
                }
            }

        }
    }
}
