.header-pages-Product{
    position: relative;
    top: 0;
    left: 0;
    background: url('.././IMG/21.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;

}
.Secound-Section{
    .icones-filter{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;
        .icones-include-filter{
            svg{
                color: #282828;
            }
        }
    }
    padding-top: 10px;
    padding-right: 2.5%;
    padding-left: 2.5%;
    .row{
        .Products{
            img{
                width: 100%;
            }
            p{

            }
            span{

            }
        }
    }
}
