.header-pages-Product{
    position: relative;
    top: 0;
    left: 0;
    background: url('.././IMG/21.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;

}
.Secound-Section{
    .icones-filter{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;
        .icones-include-filter{
            margin-right: 10px;
            border-right: 1px solid #eee;
            padding-right: 10px;
            cursor: pointer;

            .filter{
                display: inline-flex;
                align-items: center;
                background: transparent;
                border: 0;
                outline: none;
                padding: 8px 0;
                .filter-trigger{
                    margin: 0 8px 0 0;
                    svg{
                        width: 18px;
                        height: 18px;
                    }
                }
            }
            .woocommerce-ordering{
                .orderby{
                    border: 0;
                    color: inherit;
                    background-color: transparent;
                    background-image: none;
                    width: 100%;
                    max-width: 160px;
                    height: auto;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    padding-right: 26px;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    outline: none;
                    cursor: pointer;
                }
            }
            svg{
                color: #282828;
            }
        }
        .shop-views{
            &::before{
                display: block;
                content: '';
                border-left: 1px solid #eee;
                margin: 0 10px 0 5px;
            }
            button{
                padding: 8px 2px;
                margin-left: 10px;
                border: 0;
                background: transparent;
                color: #282828;
                outline: none;
                opacity: .4;
                svg{
                    width: 18px;
                    height: 18px;
                }
            }
            button.active{
                opacity: 1;
            }
        }
    }
    padding-top: 10px;
    padding-right: 2.5%;
    padding-left: 2.5%;
    .row{
        .Products{
            cursor: pointer;
            display: block;
            &:hover{
                .product-content-img{
                    img{
                        @include prefix(transform, perspective(500px) translateZ(50px) , moz ms o);
                    }
                    .Add-to-cart{
                        visibility: visible;
                        display: flex !important;
                    }
                }
            }
            .product-content-img{
                width: 100%;
                height: 320px;
                position: relative;
                overflow: hidden;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    @include prefix(transition, all 0.5s , moz ms o);
                }
                .icon-heart{
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    cursor: pointer;
                    color: #282828;
                }
                .icon-heart-full{
                    position: absolute;
                    top: 40px;
                    right: 20px;
                    cursor: pointer;
                    color: #282828;
                }
                .Add-to-cart{
                    position: absolute;
                    bottom: 0px;
                    background-color: rgba($white , 0.6);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    padding-top: 15px;
                    visibility: hidden;
                    transition: visibility 0.5s;
                    display: none;
                    p{
                        color: #282828;
                        display: inline-flex;
                     }
                }
            }
            .product-content{
                padding-top: 10px;
                h3{
                    font-size: 18px;
                    margin: 0 0 5px;
                    cursor: pointer;


                    &:hover{
                        a{
                            color: #000;
                        }
                    }
                    a{
                        color: #282828;
                    }
                }
                p{
                    color: #282828; 
                }
            }

        }
    }
    .button-load{
        text-align: center;
        display: block;
        line-height: 62px;
        min-height: 42px;
        width: 100%;
        margin: 30px 0 50px;
        position: relative;
        a{
            color: #282828;
            min-width: 180px;
            font-weight: 400;
            text-transform: none;
            padding: .75rem 1.75rem;
            display: inline-block;
            line-height: 1.6;
            text-align: center;
            transition: all .3s ease-in-out;
            border: 2px solid currentColor;
            text-decoration: none;
        }
    }
}
    .click-filter{
        position: fixed;
        top: 100%;
        right: 100%;
        bottom: 100%;
        left: 100%;
        background: rgba(192,192,192,.6);
        width: 100%;
        height: 100%;
        z-index: 3;
        transition: all 0.8s;
        .panel-open-filters{
            width: 400px;
            background-color: $white;
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 0;
            height: 100%;
            transition: opacity 0.25s ease,transform 0.25s ease;
            will-change: transform;
            header{
                background: rgba(0,0,0,.02);
                color: #282828;
                padding: 0 50px;
                height: 70px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .side-panel-title{
                margin: 0;
                display: inline-flex;
                }
                .et-close{
                    background-color: #282828;
                    padding: 6px 15px;
                    background: #282828;
                    border: 0;
                    color: #fff;
                    border-radius: 0;
                    width: auto;
                    height: auto;
                    transform: none;
                }
            }
            .side-panel-content{
                position: relative;
                padding: 35px 50px 50px 50px;
                flex: 1;
                .side-panel-content-list{
                    .catagroy-filter{
                        li{
                            margin-bottom: 5px;
                            padding-left: 10px;
                        }
                    }
                    .catagroy-color{
                        li{
                            display: inline-flex;
                            margin: 0 10px 5px 0!important;
                            padding: 0;
                            .et-swatch-circle{
                                height: 18px;
                                width: 18px;
                                margin-right: 0;
                                padding: 1px;
                                border: 1px solid transparent;
                                border-radius: 50%;
                            }
                        }
                    }
                }
                .widget{
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    border-bottom: 1px solid rgba(0,0,0,.08);
                    .filter-size{
                        .input-size{
                            display: flex;
                            align-items: center;
                            margin: 16px 0;
                            text-align: center;
                            justify-content: space-between;
                            width: fit-content;
                            margin-top: 0;
                            input{
                                max-width: 99px;
                                width: 100%;
                                border: 1px solid #0e001a;
                                padding-top: 22px;
                                padding-bottom: 8px;
                                color: #0e001a;
                                outline: none;
                                padding: 9px 12px;
                                background: #fff;
                                font-size: 1rem;
                                position: relative;
                                border-radius: 8px;
                            
                            }
                            span{
                                min-width: 16px;
                                color: #bec1c6;
                                max-width: 16px;
                            }
                            button{
                                margin-left: 10px;
                                padding: 9px 8px;
                                background-color: #000;
                                border-radius: 8px;
                                outline: none;
                                border: none;
                                color: #fff;
                            }
                        }
                    }
                    .widgettitle{
                        cursor: pointer;
                        margin-bottom: 10px;
                        padding: 10px 4px;
                        font-size: 14px;
                        font-weight: 400;
                        letter-spacing: .1rem;
                        position: relative;
                        span{
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            font-size: initial;
                            right: 0;
                            top: 50%;
                            margin-top: -15px;
                        }
                    }
                }
                .sizes{
                    margin-left: 0;
                    padding: 0;
                    li{
                        display: inline-flex;
                        margin: 0 10px 5px 0;
                        padding: 0;
                        a{
                            border: 1px solid #ddd;
                            padding: 0 10px 0 10px;
                            display: inline-flex;
                            align-items: center;
                            line-height: 30px;
                            height: 30px;
                            color: #000;
                            position: relative;
                        }
                    }
                }
            }
        }
    }