.header-pages-Product{
    position: relative;
    top: 0;
    left: 0;
    background: url('.././IMG/21.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;

}
.Secound-Section{
    padding-top: 50px;
    .row{
        .Products{
            img{
                width: 100%;
            }
            p{

            }
            span{

            }
        }
    }
}
