.background{
    background-color: $colobob;
    @include fixed;
    z-index: 1;
}
.Login-username{
    @include fixed;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    z-index: 6;
    background-color: rgba(#cccbcb , 0.5);
    transition: all 0.8s;
    .Login-user{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 45%;
        transition: all 0.8s;
        will-change: transform;
        .login-cancel{
            @include button;
        }
        .lost-password{
            a{
                color: $another;
            }
        }
        .regester{
            text-align: center;
        }
        @include formHome;
        .remember-me{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 24px;
        }
        .form-group{
            input{
                @include inputfornhome;
            }
        }
        h2{
            @include headerformhome;
        }
        .submit-user{
            @include submitHome;
        }
        .regester{
            a{
                color: $another;
            }
        }
    }
}
.sign-username{
    @include fixed;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    z-index: 6;
    background-color: rgba(#cccbcb , 0.5);
    transition: all 0.8s;
    .sign-user{
        overflow: auto;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 0.8s;
        will-change: transform;
        width: 45%;
        .sign-cancel{
            @include button;
        }
        @include formHome;
        .form-group{
            input{
                @include inputfornhome;
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
        h2{
            @include headerformhome;
        }
        .Sign-user{
            @include submitHome;
        }
        padding: 0px 70px;
    }
    .form-check-label{
        font-size: 20px;
    }
    .p-regester{
        font-size: 20px;
    }
}
input:-internal-autofill-selected{
    background-color: #fff !important;
}
@media(max-width : 991px){
    .Login-user{
        width: 90% !important;
        padding: 40px 10px;
    }
}
.Login-dissapered{
    display: none;
}
.Sign-dissapered{
    display: none;
}

// search

.bob-search{
    width: 100%;
    height: auto;
    background-color: #fff;
    position: fixed;
    top: 0px;
    padding: 100px 150px 100px 150px;
    z-index: 4;
    transition: all 0.4s;
        .cancel_search-cancel{
            @include button;
        }
        .search-input{
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    width: 83.3333%;
                    border: none;
                    border-bottom: 2px solid #444;
                    outline: none;
                    font-size: 30px;
                    margin-bottom: 20px;
                    position: relative;
                    padding-bottom: 35px;
                }
                .select-search{
                    position: absolute;
                    right: $select-search;
                    border: none;
                    padding: 20px;
                    top: 36%;
                    width: 10%;
                    transform: translate(-15%, -36%);
                    background-color: transparent;
                    outline: none;
                }
        }
}
.with-search{
    @include fixed;
    background-color: rgba(192,192,192,.6);
    z-index: 3;
}
// after remove bob search
.bob-search-remove{
    top : -200%;
}
// after remove bob search

// after with-search
.with-search-remove{

    display : none;
}
// after with-search

// User
// search



// cart
.cart{
    position: fixed;
    top: 100%;
    right: 100%;
    bottom: 100%;
    left: 100%;
    background: rgba(192,192,192,.6);
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: all 0.8s;
    .cart-list{
        width: 400px;
        height: 100%;
        background-color: $white;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        transition: all 0.8s;
        will-change: transform;
        overflow-y: auto;
        &.actioncartlist{
            right: 0%;
        }
        header{
            background: rgba(0,0,0,.02);
            color: #282828;
            padding: 0 50px;
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .container{
                .panel-header-inner{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-shrink: 0;
                    height: 70px;
                    padding: 0;
                }
            }
        }
        .all-content-cart{
            padding: 35px 50px 50px;
            .product-list-cart{
                display: flex;
                position: relative;
                padding: 10px 0px;
                .img-product-cart{
                    flex-basis: 20%;
                    img{
                        width: 60px;
                        height: 60px;
                    }
                }
                .content-product{
                    margin-left: 10px;
                    .min{
                        margin-right: 10px;
                        svg{
                            width: 20px;
                            height: 20px;
                            color: #777;
                        }
                    }
                    .plus{
                        margin-left: 10px;
                        svg{
                            width: 20px;
                            height: 20px;
                            color: #777;
                        }

                    }
                }
                .cancel-cart{
                    position: absolute;
                    top: 7px;
                    right: 0px;
                }
                .price-cart{
                    position: absolute;
                    top: 40px;
                    right: 0px;
                }
            }
        }

    }
}
// cart
// actioncart

.actioncart{
    top: 0% ;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.parent-total{
    padding: 35px 50px 50px;
    .subtotal{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        .sub{
            font-weight: bold;
        }
    }
    .finish-list-cart{
        margin-top: 20px;
        .wc-forward{
            background: transparent;
            border: 2px solid currentColor;
            color: #000000;
            width: 100%;
            padding: 8px 12px;
            display: inline-block;
            text-align: center;
        }
        .checkout{
            background-color: #000000;
            margin-top: 10px;
            width: 100%;
            padding: 8px 12px;
            color: #fff;
            display: inline-block;
            text-align: center;
        }
    }
}

    
