.background{
    background-color: $colobob;
    @include fixed;
    z-index: 1;
}
.Login-username{
    @include fixed;
    z-index: 6;
    background-color: rgba(#cccbcb , 0.5);
    .Login-user{
        .login-cancel{
            @include button;
        }
        .lost-password{
            a{
                color: $another;
            }
        }
        .regester{
            text-align: center;
        }
        @include formHome;
        top : 30%;
        .remember-me{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 24px;
        }
        .form-group{
            input{
                @include inputfornhome;
            }
        }
        h2{
            @include headerformhome;
        }
        .submit-user{
            @include submitHome;
        }
        .regester{
            a{
                color: $another;
            }
        }
    }
}
.sign-username{
    @include fixed;
    z-index: 6;
    background-color: rgba(#cccbcb , 0.5);
    .sign-user{
        .sign-cancel{
            @include button;
        }
        @include formHome;
        top : 30%;
        .form-group{
            input{
                @include inputfornhome;
            }
        }
        h2{
            @include headerformhome;
        }
        .Sign-user{
            @include submitHome;
        }
    }
    .form-check-label{
        font-size: 20px;
    }
    .p-regester{
        font-size: 20px;
    }
}
input:-internal-autofill-selected{
    background-color: #fff !important;
}
@media(max-width : 991px){
    .Login-user{
        width: 90% !important;
        padding: 40px 10px;
    }
}
.Login-dissapered{
    display: none;
}
.Sign-dissapered{
    display: none;
}

// search

.bob-search{
    width: 100%;
    height: auto;
    background-color: #fff;
    position: fixed;
    top: 0px;
    padding: 100px 150px 100px 150px;
    z-index: 4;
    transition: all 0.4s;
        .cancel_search-cancel{
            @include button;
        }
        .search-input{
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    width: 83.3333%;
                    border: none;
                    border-bottom: 2px solid #444;
                    outline: none;
                    font-size: 30px;
                    margin-bottom: 20px;
                    position: relative;
                    padding-bottom: 35px;
                }
                .select-search{
                    position: absolute;
                    right: $select-search;
                    border: none;
                    padding: 20px;
                    top: 36%;
                    width: 10%;
                    transform: translate(-15%, -36%);
                    background-color: transparent;
                    outline: none;
                }
        }
}
.with-search{
    @include fixed;
    background-color: rgba(192,192,192,.6);
    z-index: 3;
}
// after remove bob search
.bob-search-remove{
    top : -200%;
}
// after remove bob search

// after with-search
.with-search-remove{

    display : none;
}
// after with-search

// User

.question-delete-row{
    @include fixed;
    background-color: rgba(192,192,192,.6);
    .Delete-question{
        @include viewmoduletable;
        padding: 30px 15px;
        width: 400px;
        h4{
            padding-bottom: 30px;
        }
        .btn{
            width: 100px;
        }
    }
}
.Done-row{
    @include fixed;
    background-color: rgba(192,192,192,.6);
    .Done-question{
        @include viewmoduletable;
        padding: 30px 15px;
        width: 400px;
        h4{
            padding-bottom: 30px;
        }
        .btn{
            width: 100px;
        }
    }
}

// users

.View-row{
    @include fixed;
    background-color: rgba(192,192,192,.6);
    z-index: 1;
    .View-cancel{
        @include button;
    }
    .View-row-Details{
        @include viewmoduletable;
        padding: 16px;
        width: 700px;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        .Image-View{
            flex-basis: 50%;
            img{
                width: 100%;
            }
        }
        .Deatils-View{
            flex-basis: 50%;
            ul{
                list-style: none;
                li{
                    padding: 15px 0px;
                    font-size: 20px;
                    margin-right: 10px;
                    span{
                        font-size: 16px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}


.Edit-row{
    @include fixed;
    background-color: rgba(#cccbcb , 0.5);
    .Edit-row-details{
        .Edit-cancel{
            @include button;
        }
        @include formHome;
        top : 35%;
        .form-group{
            input{
                @include inputfornhome;
            }
        }
        h2{
            @include headerformhome;
        }
        .Edit-Prfile-user{
            @include submitHome;
        }
    }
}

.remove-Delete{

    display : none;
}

.Trash{
    color: #ff7675;
}
.View{
    color: #ff9f1a;
}
.Done{
    color: #00b894;
}
// search
