.footer{
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 50px 0px;
    .content-links{
        padding: 50px 0px;
        .menu{
            .widgettitle{
                font-size: 20px;
            }
            li{
                margin-bottom: 10px;
                a{
                    padding: 0.1em 0;
                    color: #282828;
                }
    
            }
        }
    }
    .content-discound{
        h2{
            text-align: center;
        }
        .code{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            button{
                background-color: #282828;
                color: #ffffff;
                padding: 0.75rem 1.75rem;
                border: 2px solid transparent;
            }
        }
    }

}
.copyright-final{
    border-top: 1px solid rgba(0,0,0,.1);
    padding-top: 30px;
    margin-top: 30px;
    .copyright{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 40px;
            ul{
                li{
                    display: inline-block;
                    margin-left: 5px;
                }
            }

    }
}
