// desktop
.navbar{
    padding: 0px 40px;
    background: $white;
    height: 90px;
    position: fixed;
    background-color: transparent;
    width: 100%;
    z-index: 2;
    .navbar-nav {
        height: 100%;
        li{
            display: inline-flex;
            padding-left: $paddingleftnav;
            margin-left: $marginleftnav;
            align-items: center;
            height: 100%;
            position: static;
            &:first-child{
                padding-left: 0px;
            }
        }

    }

}
// when scrool 
.navbar-scroll{
    background-color: $white;
    box-shadow: -2px 2px 45px -20px rgba(0,0,0,0.3);
}
// when scroll

.navbar-expand-lg{
    .navbar-collapse{
        height: 100%;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: $left;
        -webkit-box-pack: $start;
        -webkit-justify-content: $flexstart;
        -ms-flex-pack: $start;
        justify-content: $flexstart;
    }
    .navbar-nav{

        .nav-link{
            padding: .3em 0;
            color: $color;
            position: relative;

            .logo-brand{

                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                height: 100%;
                text-align: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center
            }
        }
    }

}
.logo-brand {
    img{
        width: 135px;
    }

}
.icones-items{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: $right;
    -webkit-box-pack: $end;
    -webkit-justify-content: $flexend;
    -ms-flex-pack: $end;
    justify-content: $flexend;
    height: 100%;
    a{
        display: inline-flex;
        align-items: center;
        margin-left: $marginlefticones;
        text-decoration: none;
    }

}

// desktop
// mobile
@media only screen and (max-width: 575px){
    .navbar{
        padding-right: 20px;
        padding-left: 20px;
    }
}
@media only screen and (max-width: 991px){
    .menu-burger{
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding: 6px 0;
        background: transparent!important;
        border: 0;
        outline: none;
        cursor: pointer;
    }
    .logo-brand img{
        width: 90px;
    }
    .items-Desktop{
        display: none;
    }
}
@media only screen and (min-width: 992px){
    .menu-burger{
        display: none;
    }
    .items-mobile{
        display: none;
    }
    
}
.icones-items {
    a{
        color: $color;
        font-size: 20px;
    }

}

.left-menu{
    overflow: scroll;
    padding: 0 35px;
    height: 100%;
    width: 90%;
    background-color: $white;
    position: fixed;
    z-index: 2;
    top: 0px;
    left: $left-menu;
    transition: all 0.4s;
    .cancel{
        @include button;
    }
    .content-left-menu{
        .search-for-products{
            .search-input{
                input{
                    @include search
                }
            }
        }
        padding-top: 85px;
        padding-bottom: 85px;

        li{
            padding: 5px 0px;
            list-style: none;
            a{
                font-size: 18px;
                color: $color;
            }

        }
        .navbar-menu-burger{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            padding-left: 0px;
            padding-bottom: 10px;
            padding-top: 20px;
            &::after{
                content: "";
                position: absolute;
                bottom: -10px;
                width: 100%;
                border-bottom: 1px solid rgba(#777,0.7);

            }

        }
        .anthoer-navbar-menu-burger{
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
.Login-menu-burger{
    cursor: pointer;
}
.return-left-menu{
    left: 0%;
}
.last-navbar-menu-burger li{ 
    flex-basis :  50%;
}
.last-navbar-menu-burger li:nth-child(even){
    text-align: right;
}
.social-media{
    padding-left: 0px;
    padding-top: 20px;
    li{
        a{
            font-size: 25px !important;
            margin-left: 15px;

        }

    }
}

// mobile
