.contact-us{
    display: flex;
    width: 100%;
    height: 100vh;
    .map{
        flex-basis: 50%;
        height: 100%;
    }
    .form-contact-us{
        flex-basis: 50%;
        padding-top: 120px;
        padding-right: 3%;
        padding-bottom: 35px;
        padding-left: 6%;
        .Adress{
            display: flex;
            justify-content: space-evenly;
            .visit-us{
                flex-basis: 50%;
                padding: 0px 15px;
            }
            .Touch{
                flex-basis: 50%;
                padding: 0px 15px;
            }
        }
    }
    .form{
        div{
            margin-top: 20px;
                margin-bottom: 24px;
            input{
                width: 100%;
                font-family: inherit;
                font-size: 1em;
                line-height: 1.6;
                outline: 0;
                padding: 0.75rem;

            }
            textarea{
                width: 100%;
                font-family: inherit;
                font-size: 1em;
                line-height: 1.6;
                outline: 0;
                padding: 0.75rem;
                resize: none;
                height: 200px;
            }
        }
        .sub-mess{
            cursor: pointer;
            opacity: .72;
            background: #000;
            padding: 0.75rem 1.75rem;
            border: 2px solid transparent;
            color: $white;
        }
    }
}