$white            : #fff;
$color            : #444;
$colobob          :#d5d4d3;
$another          : #282828;
$marginleftnav    : -1px;
$marginrightnav   : -1px;
$paddingleftnav   : 24px;
$paddingrightnav  : 24px;
$left             : left;
$right            : right; 
$flexstart        : flex-start;
$start            : start;
$end              : end;
$flexend          : flex-end;
$select-search    : 15%;
$marginlefticones : 24px;
$left-menu        : -90%;
