.t-body  td:first-child img{
    width: 50px;
}
.t-body  td:first-child{
    text-align: center;
}
tfoot tr th:first-child img{
    width: 50px;
}
tfoot tr th:first-child {
    text-align: center;
}
.t-body td a{
    margin-left: 10px;
}

.t-body th:first-child img{
    width: 50px;
}
.t-body th:first-child{
    text-align: center;
}