.t-body  td:first-child img{
    width: 50px;
}
.t-body  td:first-child{
    text-align: center;
}
tfoot tr th:first-child img{
    width: 50px;
}
tfoot tr th:first-child {
    text-align: center;
}
.t-body td button{
    margin-left: 10px;
    border: none;
}

.t-body th:first-child img{
    width: 50px;
}
.t-body th:first-child{
    text-align: center;
}
.IMG-DATABASE img{
    width: 50px;
}